@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto.ttf");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2F343A;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 45px;
  background-color: #C8A35F;
}

.top-line .lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-line .lang ul li {
  padding-left: 8px;
}

.top-line .lang ul li:first-child {
  padding-left: 0;
}

.top-line .lang ul a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  outline: none;
}

.top-line .lang ul a:hover {
  opacity: 1;
}

.top-line .lang ul a:active {
  opacity: 1;
}

.top-line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  min-height: 45px;
}

.top-line .phone a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  outline: none;
}

.top-line .mail a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  outline: none;
}

.first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 28px;
}

.first-line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1110px;
  min-height: 46px;
  margin-top: 28px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  outline: none;
}

.logo ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo ul li {
  padding-right: 30px;
  border-right: 1px solid #ffffff;
}

.logo ul li:last-child {
  border-right: none;
  padding-left: 30px;
}

.logo ul li:last-child img {
  padding-right: 13px;
}

.logo ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  outline: none;
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 76.21vh;
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
}

.first-screen-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1110px;
  height: 100%;
}

.first-screen-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 920px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen-description h1 {
  text-align: center;
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.first-screen-description p {
  margin-top: 45px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.mouse {
  margin-top: 135px;
}

.mouse a {
  outline: none;
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 561px;
  background-color: #393F47;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1110px;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.eu-transfer {
  max-width: 445px;
}

.eu-transfer a {
  outline: none;
}

.eu-transfer h1 {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.eu-transfer p {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.eu-transfer hr {
  width: 90px;
  height: 6px;
  border-color: #C8A35F;
  background-color: #C8A35F;
  padding: 0;
  margin: 0;
}

.btn {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #C8A35F;
  padding: 18px 48px;
}

.center-container {
  background-color: #2F343A;
  margin-left: -97px;
  width: 410px;
  z-index: 0;
}

.car {
  position: relative;
  margin-left: 130px;
}

.prev a, .next a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C8A35F;
}

.prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 182px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev-next a {
  outline: none;
}

.prev {
  margin-top: 240px;
}

.prev img {
  padding-right: 30px;
}

.next img {
  padding-left: 35px;
}
/*# sourceMappingURL=style.css.map */